name: release

on:
  release:
    types: [ released ]

jobs:
  release-npm:
    name: Release ${{ github.event.repository.name }} ${{ github.ref }} to npm
    runs-on: ubuntu-latest
    if: ${{ vars.NPM_JOB_ENABLED == 'true' }}
    env:
      NPM_PUBLISH_ENABLED: ${{ vars.NPM_PUBLISH_ENABLED == 'true' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Release to npm
        if: ${{ env.NPM_PUBLISH_ENABLED == 'true' }}
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release to npm (dry-run)
        if: ${{ env.NPM_PUBLISH_ENABLED == 'false' }}
        run: npm publish --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  release-packages:
    name: Release ${{ github.event.repository.name }} ${{ github.ref }} to GitHub Packages
    runs-on: ubuntu-latest
    if: ${{ vars.PACKAGES_JOB_ENABLED == 'true' }}
    env:
      PACKAGES_PUBLISH_ENABLED: ${{ vars.PACKAGES_PUBLISH_ENABLED == 'true' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies and build
        run: |
          npm install
          npm run build

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com/'

      - name: Release to GitHub Packages
        if: ${{ env.PACKAGES_PUBLISH_ENABLED == 'true' }}
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release to GitHub Packages (dry-run)
        if: ${{ env.PACKAGES_PUBLISH_ENABLED == 'false' }}
        run: npm publish --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
